* {
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
  /* min-width: 1300px; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-grid {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* background-color: aqua; */
}

.info-grid-container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  border-right: 4px solid black;
  width: 50%;
  padding: 10px;
}

.box-grid-container {
  /* background-color: blue; */
  width: 100%;
  padding: 10px;
}
