:root {
  --number-square-size: 40px;
  --number-font-size: 20px;
  --box-square-size: 60px;
  --box-border-color: #000000;
  --box-square-color: #fafafa;
}

.home-team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--box-square-size) * 10);
}

.away-team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--box-square-size) * 10);
  writing-mode: sideways-lr;
}

.number-square-top {
  /* background-color: red; */
  border: 1px var(--box-border-color) solid;
  width: var(--box-square-size);
  height: var(--number-square-size);
  align-content: center;
  text-align: center;
}

.number-square-side {
  /* background-color: red; */
  border: 1px var(--box-border-color) solid;
  width: var(--number-square-size);
  height: var(--box-square-size);
  align-content: center;
  text-align: center;
}

.number-square-top-row {
  display: flex;
  margin-left: var(--number-square-size);
  font-size: var(--number-font-size);
}

.number-square-side-column {
  display: flex;
  flex-direction: column;
  font-size: var(--number-font-size);
}
